.user-menu__click-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  background: transparent;
}
.user-menu__btn {
  margin-top: 8px;
  margin-right: 6px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.user-menu__avatar {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.user-menu__arrow {
  display: inline-block;
  width: 12px;
  height: 8px;
}
.user-menu__dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  left: auto;
  z-index: 20;
  width: 160px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  background-color: #EBECF0;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 4px;
}
.user-menu__dropdown::before {
  content: '';
  position: absolute;
  top: -16px;
  right: 32px;
  border: 8px solid transparent;
  border-bottom-color: #EBECF0;
}
.user-menu__dropdown-item {
  display: block;
  padding: 7px 8px 6px 16px;
  color: #5E6C84;
  text-decoration: none;
}
.user-menu__dropdown-item:hover {
  background-color: #0067A3;
  color: #FFF;
}