.list__card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.list__card-list::-webkit-scrollbar {
  width: 12px;
}
.list__card-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #FFFFFF;
}
.list__card-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #CBCBCB;
}
.list__card-list-item {
  width: 258px;
  margin: 15px 12px;
  padding: 7px 8px;
  background: #FFFFFF;
  border-radius: 5px;
}
.list__add-card-input {
  width: 255px;
  font-size: 18px;
}
.list__add-card-select {
  width: 257px;
  font-size: 16px;
  cursor: pointer;
}