@import url('https://fonts.googleapis.com/css?family=Roboto');
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.search-field__input {
  height: 40px;
  border: 1px solid rgb(196, 196, 196);;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 18px;
}
.search-field__hint-list {
  width: 500px;
  position: absolute;
  list-style: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.search-field__hint-btn {
  width: 100%;
  height: 40px;
  padding: 5px;
  background: rgb(238, 238, 238);
  border: none;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}
.search-field__hint-btn:hover {
  background: rgb(196, 196, 196);
}