.board {
  display: flex;
  flex: auto;
  align-items: flex-start;
  overflow-y: hidden;
  overflow-x: auto;
  background: #0079BF;
  padding-bottom: 30px;
}
.board::-webkit-scrollbar, .list__card-list::-webkit-scrollbar {
  width: 12px;
}
.board::-webkit-scrollbar-track, .list__card-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #FFFFFF;
}
.board::-webkit-scrollbar-thumb, .list__card-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #CBCBCB;
}
.board__no-lists-message {
  margin: 100px auto;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
}